body {
    background-color: black; /* Cor de fundo preta */
    background-image: 
        repeating-linear-gradient(0deg, transparent, transparent 20px, #FFFFFF 20px, #FFFFFF 21px),
        repeating-linear-gradient(90deg, transparent, transparent 20px, #FFFFFF 20px, #FFFFFF 21px);
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list img {
    margin: 5px;
    height: 200px;
    width: 120px;
    box-shadow: 5px;
}